.list {
  display: flex;
  background-color: #252526;
  margin: 0;
  padding: 0 14px;
  width: 100%;
  list-style: none;
  color: #859696;
}

.item {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 10px 10px;
  background-color: #2d2d2d;
  border-left: 1px solid #252526;

  &:last-of-type {
    border-right: 1px solid #252526;
  }

  &.active {
    cursor: default;
    color: #fff;
    background-color: #1e1e1e;
  }
}

.icon {
  color: #fff;
  margin-right: 6px;
}

.text {
  font-family: monospace;
}
