.input {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 8px;
  width: 100%;

  :global(.semi-input-wrapper) {
    &,
    & input {
      height: unset;
      line-height: 1em;
    }
  }
}

.tag {
  margin: 16px;
  padding: 0;
  width: 100px;
}

.id-input {
  color: #8c8c8c;
  background-color: transparent;
  border: none;

  &:hover {
    background-color: transparent;
  }

  input {
    padding: 0 6px;
    text-overflow: ellipsis;

    &:hover {
      color: #ccc;
    }

    &:focus {
      color: #fff;
    }
  }
}

.id-input-prefix {
  margin-right: 4px;
}

.text-input {
  border: none;
  background-color: transparent;
  color: #ccc;

  &:hover {
    background-color: transparent;
    color: #fff;
  }

  input {
    font-size: 1.4em;
    padding: 0 18px;
    font-weight: 600;
    text-overflow: ellipsis;
    &:focus {
      color: #fff;
    }
  }
}

.tags {
  cursor: pointer;
  padding: 0 18px;
  font-size: 12px;
  color: #fff;
  border: none;
  background-color: transparent;
}

.tags-input-suffix {
  cursor: pointer;
}

.input.active {
  .text-input {
    input {
      color: #fff;
    }
  }
}
