.input {
  box-sizing: border-box;
  display: grid;
  grid-template:
    "tags id   delete" auto
    "text text delete" auto /
    auto minmax(0, 1fr) auto;
  padding: 8px 16px;
  width: 100%;

  :global(.semi-input-prefix) {
    flex-shrink: 0;
  }

  :global(.semi-input-wrapper) {
    &,
    & input {
      height: unset;
      line-height: 1em;
    }
  }

  &.active {
    .text-input {
      input {
        color: #fff;
      }
    }
  }
}

.tags {
  cursor: pointer;
  grid-area: tags;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  min-width: 1.37em;
  color: #fff;
  border: none;
  background-color: transparent;

  > .tag {
    display: flex;
  }
}

.id-input {
  grid-area: id;
  color: #8c8c8c;
  background-color: transparent;
  border: none;

  &:hover {
    background-color: transparent;
  }

  input {
    padding: 0 6px;
    text-overflow: ellipsis;

    &:hover {
      color: #ccc;
    }

    &:focus {
      color: #fff;
    }
  }
}

.text-input {
  grid-area: text;
  border: none;
  background-color: transparent;
  color: #ccc;

  &:hover {
    background-color: transparent;
    color: #fff;
  }

  input {
    font-size: 1.4em;
    padding: 0;
    font-weight: 600;
    text-overflow: ellipsis;
    &:focus {
      color: #fff;
    }
  }
}

.delete {
  grid-area: delete;
  place-self: center;
}
