.page {
  display: grid;
  grid-template:
    "cover actions" auto /
    minmax(0, 1fr) minmax(0, 1fr);
  height: 100vh;
}

.cover {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  grid-area: cover;
  padding: 86px 36px;
  z-index: 2;

  > .logo {
    font-size: 6em;
    background-color: #fff;
    padding: 12px;
    color: #000;
  }

  > .title {
    color: #fff;
    font-size: 3em;
    margin: 6px 0 18px;
  }

  > .description {
    color: #fff;
    margin: 0;
  }
}

.actions {
  grid-area: actions;
  display: grid;
  justify-content: center;
  align-content: center;
  gap: 48px;

  > .action {
    cursor: pointer;
    font-size: 20px;
    color: #333;
    background-color: #fafafa;
    border: none;
    border-left: solid 4px #f5f5f5;
    padding: 12px 18px;
    text-align: left;
    display: flex;
    align-items: center;
    gap: 12px;
    transition: background-color 0.2s, border-color 0.2s, color 0.2s;

    &:hover {
      color: #000;
      background-color: #fbfbfb;
      border-color: #eee;
    }

    > .icon {
      font-size: 1.2em;
    }
  }
}

.links {
  box-sizing: border-box;
  position: fixed;
  padding: 8px 0 8px 50vw;
  left: 0;
  width: 100%;
  bottom: 0;
  gap: 6px;
  text-align: center;

  > .link {
    font-size: 12px;
    color: #777;
    transition: color .2s;

    &:hover {
      color: #333;
    }
  }
}

.background {
  box-sizing: border-box;
  grid-area: cover;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: center;
  z-index: 1;
  border-radius: 0 150px 150px 0;
  padding: 24px 0;
  overflow: hidden;
}
